* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-card {
    ion-card-subtitle {
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        white-space: normal; 
    }
}

ion-icon {
    font-size: 26px;
}

ion-avatar{
    height: 32px;
    width: 32px;
}

ion-label{
    font-size: 20px;
}

ion-text{
    font-size: 17px;
    p {
        font-size: 14px;
    }
}

.header {
    margin: 5px 20px 10px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}

.toggled{
    transition: transform 0.3s ease-in-out;
}
.toggled:hover {
    transform: scale(1.2);
}