<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="primary">Sign in to Chirper</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input label="Email" labelPlacement="floating" type="email" formControlName="email"></ion-input>
          </ion-item>
          <app-error-message [field]="getFormControl('email')" error="required" message="Email is required"></app-error-message>
          <app-error-message [field]="getFormControl('email')" error="email" message="Email is invalid"></app-error-message>
          <ion-item>
            <ion-input label="Password" labelPlacement="floating" type="password" formControlName="password"></ion-input>
          </ion-item>
          <app-error-message [field]="getFormControl('password')" error="required" message="Password is invalid"></app-error-message>
          <br>
          <ion-button 
            color="primary" 
            size="block" 
            (click)="login()" 
            [disabled]="!form.valid" 
            id="loginButton">
              Login
          </ion-button>
          <ion-button color="primary" fill="outline" size="block" (click)="register()">Sign Up</ion-button>
        </ion-card-content>
      </ion-card>   
    </form> 
  </div>
</ion-content>
