.title{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-content {
    --background: var(--ion-color-primary);
    vertical-align: "middle";
}

ion-button {
    margin: 25px;
}