title{
    font-size: 40px;
}

ion-content {
    --background: var(--ion-color-success);
    vertical-align: "middle";
}

ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;
    border-color: #6815ec;
  
    --color: #ddd;
    --color-checked: #6815ec;
}

ion-button {
    margin: 10px;
}