ion-modal {
    --height: 50%;
    --width: 95%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  }
  
  ion-modal::part(backdrop) {
    background: rgb(0, 0, 0);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --color: white;
  }

  ion-action-sheet {
    --backdrop-opacity: 0.1; // Set this to the desired opacity
  }