<ion-modal #modal [trigger]="openModal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar color="light">
        <ion-buttons slot="start">
          <ion-icon name="close-outline" size="large" (click)="exitModal()" id="exit"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" color="light">
      <ion-textarea 
        color="warning" 
        fill="solid"
        placeholder="What is happening!?" 
        rows="9"
        [counter]="false"
        maxlength="140"
        [counterFormatter]="customCounterFormatter"
        [(ngModel)]="content"
        >
      </ion-textarea>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="light">
        <ion-buttons slot="end">
          <ion-button size="large" fill="solid" shape="round" color="primary" [disabled]="isPostEmpty(content)" (click)="createPost()">Post</ion-button>
        </ion-buttons>
    </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>