* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-list {
    .money {
        font-weight: bold;
    }
}

ion-toolbar {
    --border-style: none;
    --box-shadow: none;
    --min-height: 30px;
    ion-title {
        font-size: 20px;
    }
}

ion-content {
    --background: var(--ion-color-secondary);
}

ion-item {
    --border-style: none;
}

.no-posts-found {
    align-items: center;
    text-align: center;
    margin-top: 50%;
}

h1 {
    text-align: center;
}