<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <app-create-post openModal="open-modal"></app-create-post>

  <ion-item color="secondary">
    <ion-label>
      <h1>Welcome back {{ user.name }}</h1>
    </ion-label>
    <ion-label  *ngIf="posts.length === 0" class="no-posts-found">
      <h1>No posts found :/</h1><br>
      <h2>Create your first post</h2>
    </ion-label>
  </ion-item>

  <app-post-card
    *ngFor="let post of posts"
    [name]="user.name"
    [dateCreated]="post.dateCreated"
    [content]="post.content">
    <ion-card-header header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
  </app-post-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>